
.btn {
    min-height: 38px;
    height: 38px;
}


.btn--filled {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.btn--filled {
    background: #333;
    color: #fff;
}

.light-mode .btn--filled {
    background: #9f212f;
    color: #fff;
}

.btn--filled:hover {
    background: #7f212f;
}

.btn--outline {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    background: rgba(46, 213, 115, 0.3);
    border: 1px solid #2ed573;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.dark-mode__outline .btn--outline {
    color: #ffffff; 
    background: rgba(46, 213, 115, 0.3);
    border: 1px solid #2ed573;
}

.light-mode__outline .btn--outline {
    color: #000000; 
    background: rgba(46, 213, 115, 0.3);
    border: 1px solid #2ed573;
}

.btn--auto {
    width: auto;
}

.btn--fixed {
    width: 100%;
}

.btn--disabled {
    cursor: not-allowed;
    opacity: .5;
}

.btn--filled.btn--disabled,
.btn--outline.btn--disabled {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.btn--filled.btn--disabled {
    color: #fff;
    border: none;
    background: #9f212f;
}

.btn--outline.btn--disabled {
    color: #9f212f;
    border: 2px solid #9f212f;
    background: transparent;
}

.btn--disabled:active {
    pointer-events: none;
}

/* Animación de círculo */
.circle {
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animateCircle .5s linear infinite;
}

@keyframes animateCircle {
    0% {
        width: 0;
        height: 0;
        opacity: .25;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
