h1.titles__title__darkMode{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #cccccc;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
h1.titles__title__lightMode{
    color: #333333;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

h2.titles__title__darkMode{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}
h2.titles__title__lightMode{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

h3.titles__title{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: #9F212F;
}

h4.titles__title{
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    color: #9F212F;
}

h5.titles__title{
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    color: #9F212F;
}

h6.titles__title{
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
    color: #9F212F;
}

