.inputContainer {
    position: relative;
    width: 100%;
    height: 30px;
    max-width: 300px;
    display: flex;
}

.inputContainer .inputSpan {
    width: 100%;
    height: 100%;
}

.inputContainer input {
    width: 100%;
    height: 100%;
    border: 1px solid #D6CAB0;
    border-radius: 8px;
    padding: 0 0.5rem;
    font-size: 1rem;
    outline: none;
    text-align: center;
}

.inputContainer input::placeholder {
    opacity: 0;
}

.inputContainer input:focus {
    border: none;
}

.inputContainer label {
    position: absolute;
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    display: flex;
    padding: 0 0.2rem;
    transition: all 0.3s ease;
    color: #D6CAB0;
    background-color: #fff;
    width: max-content;
}

.inputContainer label.active {
    top: -0.5rem;
    font-size: 0.8rem;
    color: #9f212f;
    font-weight: bold;
}

.inputContainer label.lleno {
    top: -0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}

/* .inputContainer input:focus{
    border: 2px solid #9F212F;
} */

.inputContainer::before,
.inputContainer::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    /* background: #9f212f; */
    background: transparent;
    pointer-events: none;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.inputContainer::before {
    border-top: 2px solid #9F212F;
    width: 0;
    height: 100%;
}

.inputContainer::after {
    border-right: 2px solid #9F212F;
    width: 100%;
    height: 0;
}

.inputContainer:focus-within::before {
    width: 100%;
}

.inputContainer:focus-within::after {
    height: 100%;
}

.inputSpan::before,
.inputSpan::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /* background: #9f212f; */
    background: transparent;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputSpan::before {
    border-bottom: 2px solid #9F212F;
    width: 0;
    height: 100%;
}

.inputSpan::after {
    border-left: 2px solid #9F212F;
    width: 100%;
    height: 0;
}

.inputSpan:focus-within::before {
    width: 100%;
}

.inputSpan:focus-within::after {
    height: 100%;
}