.permisosContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
}

.permisos {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-wrap: wrap;
}

.permisoName {
    color: #ccc;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.privilegios {
    display: flex;
    gap: .5rem;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
}

.privilegioName {
    display: flex;
    align-items: center;
    gap : .5rem;
    color: #9F212F;
    text-align: center;
    font-size: .7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    border-radius: 50px;
    background: #D6CAB0;
    padding: 2px .5rem;
}

.deletePrivilege{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.deletePrivilege:hover{
    color: #9F212F;
}

.permissionsContainerCards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 3rem;
    gap: 1rem;
}

.permissionCard{
    display: flex;
    border-radius: 10px;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    transition: .3s ease-in-out;
}

.permissionCard--dark{
    border: 2px solid #ccc;
}

.permissionCard--light{
    border: 1px solid #1f1f1f;
}

.permissionCard:hover{
    background: #D6CAB0;
}

.permissionCardName{
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.permissionCard--dark .permissionCardName{
    color: #ccc;
}

.permissionCard--light .permissionCardName{
    color: #1f1f1f;
}

.permissionCard:hover .permissionCardName{
    color: #1f1f1f;
}

.permissionCardPrivilegesContainer{
    display: flex;
    gap: .5rem;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.permissionCardPrivilege{
    display: flex;
    align-items: center;
    gap : .5rem;
    color: #9F212F;
    text-align: center;
    font-size: .7rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    border-radius: 50px;
    background: #f1f1f1;
    padding: 2px 1rem;
    cursor: pointer;
}

.permissionCardPrivilege--active{
    background: #9F212F;
    color: #fff;
}

.permissionCard--active{
    background: #D6CAB0;
    border: 2px solid #D6CAB0;
}

.permissionCard--active.permissionCard--dark{
    box-shadow: 6px 6px 10px -3px rgba(255, 255, 255, 0.3);
}

.permissionCard--active.permissionCard--light{
    box-shadow: 6px 6px 10px -3px rgba(0,0,0,0.3);
}

.permissionCard--active .permissionCardName{
    color: #9F212F;
}

@media screen and (max-width: 768px){
    .permisoName{
        width: 100%;
    }
    .privilegios{
        width: 100%;
        justify-content: center;
    }
}
