.permisosContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
}

.permisos {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-wrap: wrap;
}

.permisoName {
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.privilegios {
    display: flex;
    gap: .5rem;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
}

.privilegioName {
    display: flex;
    align-items: center;
    gap : .5rem;
    color: #9F212F;
    text-align: center;
    font-size: .7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    border-radius: 50px;
    background: #D6CAB0;
    padding: 2px .5rem;
}

.deletePrivilege{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.deletePrivilege:hover{
    color: #9F212F;
}

@media screen and (max-width: 768px){
    .permisoName{
        width: 100%;
    }
    .privilegios{
        width: 100%;
        justify-content: center;
    }
}